.container{
    border: 4px double #2f9fe9;
    background-color: #e1e1e7c4;
    box-shadow: 4px 6px 3px 5px #a6a6a7;
    width: 100vh;
    margin: 0 auto;
    height: 85vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .btn:hover{
    box-shadow: 3px 4px 3px 4px #a6a6a7;
  }
   