.container{
    border: 4px double #068efd;
    box-shadow: 4px 6px 3px 5px #a6a6a7;
    background-color: #e1e1e7c4;
    width: 100vh;
    margin: 0 auto;
    height: 55vh;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.example-container {
    display: flex;
    flex-direction: column;
  }
  .example-container > * {
    width: 100%;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .btn:hover{
    box-shadow: 3px 4px 3px 4px #a6a6a7;
  }
  .forgot-pass{
    cursor: pointer;
  }
  .account{
    cursor: pointer;
  }