<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center">Login</h4>
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Username" matInput [formControl]="username" #usnm required autocomplete="off">
          <mat-error *ngIf="username.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Enter your email" matInput [formControl]="email" required autocomplete="off">
          <mat-error *ngIf="email.invalid">{{getErrorMessage1()}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" matInput
            [formControl]="pass" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="pass.invalid">{{getErrorMessage2()}}</mat-error>
        </mat-form-field>

        <button class="mt-2 btn" mat-raised-button color="primary" (click)="login(usnm.value)">Login</button>

        <a class="mt-2 forgot-pass text-primary" (click)="onclick()">Forgot password ?</a>
        <a class="mt-2 text-primary account" (click)="click()">Registration here</a>

      </div>

    </div>
  </div>
</div>