.container{
    border-left: 15px solid #3966c7;
    border-right: 15px solid #3966c7;
    border-top: 1px solid #3966c7;
    border-bottom: 1px solid #3966c7;
    border-radius: 5px;
    margin-top: 5%;
    padding: 10px;
}