.navbar{
    background-color: #1976d2;
    border: 10px outset blue;
}
.navbar-brand{
    color: white;
    font-size: 25px;
    background-color: #1976d2;
    border-radius: 15px;
    padding: 5px;
    border: 4px outset #a4c7eb;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: #d8d9da;
}
.active{
    color: white;
    background-color: #2e87e0;
    border-radius: 15px;
    border: 4px solid white;
}
.active:hover{
    color: black;
    background-color: white;
}