.navbar{
    background-color: #1976d2;
}
.navbar-brand{
    color: white;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: #d8d9da;
}
.active{
    color: white;
    background-color: #2e87e0;
    border-radius: 10px;
}