<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" [routerLink]="['home']"><i class="fab fa-neos"></i><i class="fab fa-btc"></i><i class="fab fa-pinterest-p"></i></a>
  <button class="navbar-toggler btn btn-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['home']" routerLinkActive ="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['login']" routerLinkActive ="active">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['registration']" routerLinkActive ="active">Registration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['contact']" routerLinkActive ="active">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['calculator']" routerLinkActive ="active">Calculator</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
