<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center">Change Password</h4>
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="New password" [type]="hide ? 'password' : 'text'" matInput
            [formControl]="pass1" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="pass1.invalid">{{getErrorMessage1()}}</mat-error>
        </mat-form-field>
        
        <mat-form-field>
          <input matInput placeholder="Conform password" [type]="show ? 'text' : 'password'" matInput
            [formControl]="pass2" required>
          <mat-icon matSuffix (click)="show = !show">{{show ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="pass2.invalid">{{getErrorMessage2()}}</mat-error>
        </mat-form-field>

        <button class="mt-2 btn" mat-raised-button color="primary">Submit</button>
      </div>

    </div>
  </div>
</div>