<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center">Forgot Password ?</h4>
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Username" matInput [formControl]="username" #usnm required autocomplete="off">
          <mat-error *ngIf="username.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <button class="mt-2 btn" mat-raised-button color="primary" (click)="change(usnm.value)">Send</button>
      </div>

    </div>
  </div>
</div>