<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center">Forgot Password ?</h4>
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Enter your email" matInput [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage1()}}</mat-error>
        </mat-form-field>

        <button class="mt-2 btn" mat-raised-button color="primary" (click)="change()">Send</button>
      </div>

    </div>
  </div>
</div>